body,html {
  font-family: 'Abel', sans-serif;
  color:#846C63;
}

body {
  background-color: #F6F4F1!important;
}

p {
  line-height: 1.5rem;
}

/* a {
  color:#88AAA9!important;
}  */

/*a:hover {
  color:#88AAA9!important;
}*/

#announcement{
  margin: 0;
  padding: 18px;
}

#announcement i{
  cursor: pointer;
}

/* btn */

.btn {
  margin:2px;
}

.btn, .btn-large {
  background-color:#86A8A8!important;
  color:white !important;
}

.btn:hover, .btn-large:hover {
  background-color: #E0BB8E!important;
}

/* HEADER */
nav a {
  color: #88AAA9;
}

nav ul a {
  color: #88AAA9;
  font-size: 1.3rem;
}

nav ul a:hover {
  background-color: #BDB1AD;
  color:white!important;
}

nav .brand-logo{
  color: #88AAA9;
}

/* Back to top */
#scrollup {
  display: none;
}

/* FOOTER */
.social-icons ul li {
  display: inline;
}

.social-icons [data-icon]:before {
  font-size: 30px;
}

footer.page-footer {
  margin: 0;
  color: inherit;
  background-color: rgba(189,177,173,0.2)!important;
}

.page-footer .footer-copyright {
  color: inherit;
}

.cities {
  padding-top: 10px;
}

/* Cards */

.area {
  line-height: 0.75rem;
  padding-bottom: 10px;
}

/* 
.card .card-title {
  text-transform: uppercase;
}

.card .card-title.activator {
  color: #8d6e63 !important;
}

.card .card-content .card-title {
  font-size: 18px;
  line-height: 22px;
}


.card .card-image .card-title {
  padding: 20px 0 10px 20px;
  font-size: 2.5rem;
  line-height: 3rem;
} */

/* MOBILE */

@media only screen and (max-width : 600px) {
  .container {
    padding: 0 0rem;
  }

  ul.side-nav a {
    font-size: 20px;
    text-transform: uppercase;
    /*line-height: 35px;*/
    /*padding: 20px 15px*/
  }
}