body,html {
  font-family: 'Abel', sans-serif;
  color:#212121; /*grey darken-4*/
}

p {
  line-height: 1.5rem;
}

/* announcement */

#announcement {
  margin: 0;
  padding: 18px;
}

#announcement i {
  cursor: pointer;
}

/* HEADER */

.transparent-blue {
  background-color: rgba(0, 50, 100, 0.82) !important;
}

nav a, nav ul a {
  font-size: 1.3rem;
}

nav .brand-logo {
  letter-spacing: .3px;
  line-height: 32px;
  padding: 10px 48px 10px 0;
}

nav ul a.active {
  border-bottom: 4px solid #fff;
  background-color: rgba(0, 0, 0, 0.3) !important;
  height: 100%;
  line-height: 55px;
}

#banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/banners/main.jpg);
}

/* Back to top button */
#scrollup {
  display: none;
}

/* Buttons */

.btn, .btn-large {
  background-color: #1976d2 !important; /* blue darken-2 */
}

/* Typography */
.section-title, .section-subtitle {
  text-align: center;
  padding-bottom: 40px;
}

.section-subtitle {
  margin-top: -24px;
}

/* Cards */
.area {
  line-height: 0.75rem;
  padding-bottom: 10px;
}

.section {
  padding: 5em 0;
}

/* FOOTER */
.social-icons ul li {
  display: inline;
}

.social-icons [data-icon]:before {
  font-size: 30px;
}

footer.page-footer {
  margin: 0;
  color: inherit;
  background-color: rgba(189,177,173,0.2)!important;
}

.page-footer .footer-copyright {
  color: inherit;
}

.cities {
  padding-top: 10px;
}

/* MOBILE */
@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}


@media only screen and (max-width : 600px) {
  ul.side-nav a {
    font-size: 20px;
    text-transform: uppercase;
  }

  .section{
    padding: 2em 0;
  }
}